/.idea/.gitignore
/.idea/dbnavigator.xml
/.idea/hfx-dashboard.iml
/.idea/sonarlint/issuestore/index.pb
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/sonarIssues.xml
/.idea/vcs.xml
